.title {
    margin-left: 12px;
}

.info {
    display: flex;
    justify-content: space-between; /* 왼쪽은 이메일과 메타 정보, 오른쪽은 삭제 버튼 */
    align-items: center; /* 세로 정렬을 중앙으로 */
    font-size: 16px;
    margin: 12px;
}

.email {
    font-weight: bold;
}

.metaInfo {
    color: #6c757d;
}

.content {
    font-size: 18px; /* 원하는 폰트 사이즈로 설정 */
    line-height: 1.5; /* 줄 간격 조정 (선택 사항) */
}

.button {
    margin-left: auto; /* 자동 여백을 사용하여 오른쪽으로 배치 */
}

.button button:first-child {
    margin-right: 10px; /* 수정 버튼과 삭제 버튼 사이의 간격 */
}
