.container {
    display: flex;
    justify-content: center;
    padding: 28px 0;
}

.form {
    width: 648px;
}

.section {
    margin: 30px 0;
}

.section h3 {
    width: 436px; /* 입력 필드와 같은 너비 */
    font-size: 16px;
    font-weight: normal;
    margin: 10px auto;
    text-align: left; /* 왼쪽 정렬 */
}

.inputWrapper {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.input {
    width: 436px;
    height: 54px;
    background-color: #f5f5f5;
    border-radius: 8px;
    border: none;
    padding: 0 16px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
}

.input:focus {
    border: 2px solid black;
    outline: none;
}

.buttonWrapper {
    width: 436px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: var(--main-color);
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
