.formRow {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.input {
    flex-grow: 1; /* 인풋 필드가 나머지 공간을 채우도록 설정 */
    margin-right: 10px; /* 버튼과 인풋 필드 사이에 간격 추가 */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* 패딩과 보더 포함한 크기 설정 */
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap; /* 버튼 텍스트 줄바꿈 방지 */
}
