/* KakaoMap.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.location {
    display: flex;
    margin: 0 auto; /* 가운데 정렬을 위한 마진 설정 */
    justify-content: center; /* 세로축 기준 중앙 정렬 */
    max-width: 436px;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.mapContainer {
    width: 100%;
    max-width: 800px; /* 최대 너비 설정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    border-radius: 10px; /* 둥근 모서리 */
    overflow: hidden;
}

.address {
    font-size: 16px;
    color: #333;
    padding: 10px 0;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.loading {
    font-size: 20px;
    color: #555;
    text-align: center;
    padding: 50px;
}

/* page.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* 모달이 다른 요소 위에 보이도록 설정 */
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    position: relative; /* close button 위치 조정을 위한 설정 */
}

.openButton {
    flex: 1;
    padding: 10px 10px;
    background-color: #fd7e14; /* 주황색 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.openButton:hover {
    background-color: #e06712; /* 진한 주황 */
}

.closeButton {
    font-size: 16px;
    color: white;
    padding: 10px 0;
    background-color: #fd7e14;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.closeButton:hover {
    background-color: #e06712; /* 진한 주황 */
}

.locationInput {
    flex: 4;
    width: 100%; /* input 필드를 container에 맞춰 확장 */
    height: 50px; /* 기존 스타일 유지 */
    background-color: #05060f0a;
    border-radius: 0.5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1.2rem;
}

.locationInput:hover,
.locationInput:focus {
    outline: none;
    border-color: #05060f;
}
