.header-div {
    display: flex;
    justify-content: space-between;
    width: 100%;

    padding: 0 10px;

    max-width: 1200px;
}

.header-ul {
    display: flex;
    font-size: 1rem;
    gap: 1rem;
    align-items: center;
    /* margin: 0 10px 0; */
}

.header-li {
    display: flex;
    font-weight: 600;
    color: #00000050;
}

.home {
    margin: 0 10px;
}

/* ~ 551 px  반응형으로 조져야함*/

.text-primary-basic {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.header-div ul a {
    transition: background-color 0.3s;
    padding: 10px;
    border-radius: 10px;
}
.header-div ul a:hover {
    background-color: #cbcbcb50;
}
/* 모바일 우선 */
@media (max-width: 768px) {
    .header-div {
        width: 100%;
        border-radius: 0px;
    }

    .header-li {
        font-size: 0.8rem;
    }
}
