.buttonLayout {
    gap: 0.25rem;
    display: flex;
    flex-direction: row;
    margin: 0;

    font-size: 0.75rem;
}

.buttonHeader {
    display: flex;
    color: rgb(60, 64, 67);
    /* font-size: 0.75rem; */
    line-height: 1.5;
    text-align: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    display: inline-flex;
}

.buttonTitle {
    font-size: 0.875rem;
    line-height: 1.285;
}

.buttonSubTitle {
    color: rgba(119, 121, 123, 1);
}
