.listHeader {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(119, 121, 123, 1);
    margin: 0;
}

.listUl {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    gap: 18px;
}

.listUl h4 {
    margin: 0;
}

.listLayout {
    gap: 18px;
    display: flex;
    flex-direction: column;
}
