:root {
    --main-color: #ff6b00;
}

li {
    display: list-item;
    /* text-align: -webkit-match-parent; */
    unicode-bidi: isolate;
}

menu,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    color: #000000c2;
    height: 56px;
    justify-content: center;
    padding-top: 10px;
    /* min-width: 700px; */
}

.header-margin {
    margin: 70px 0;
}

header::before {
    content: '';
    position: absolute;
    background-color: #212529;
    opacity: 0.8;
    z-index: -1;
}
body {
    margin: auto;
    font-size: 15px;
    font-family:
        'Pretendard',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* 데스크탑 우선 */
@media (min-width: 1024px) {
    body {
        max-width: 960px;
        margin: 0 auto;
    }
}

/* 태블릿 및 작은 화면 */
@media (max-width: 1024px) {
    header,
    footer {
        font-size: 1.2em;
        padding: auto;
    }

    .content {
        padding: 0.5em;
    }
}

/* 모바일 우선 */
@media (max-width: 768px) {
    header,
    footer {
        font-size: 0.5rem;
        margin: 0;
    }

    body {
        margin: 0;
        padding: 0.5em;
    }
}
