li {
    display: list-item;
    /* text-align: -webkit-match-parent; */
    unicode-bidi: isolate;
}

menu,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    color: #000000c2;
    height: 56px;
    padding: 0px 14px;
    overflow: hidden; /* ::before 요소가 넘치지 않도록 */
    border-bottom: 1.1px solid #0000005b;
}

header::before {
    content: '';
    position: absolute;
    background-color: #212529;
    opacity: 0.8;
    z-index: -1;
}
body {
    margin: 0;
    font-size: 15px;
    font-family:
        'Pretendard',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* 데스크탑 우선 */
@media (min-width: 1024px) {
    body {
        max-width: 960px;
        margin: 0 auto;
    }
}

/* 태블릿 및 작은 화면 */
@media (max-width: 1024px) {
    header,
    footer {
        font-size: 1.2em;
    }

    .content {
        padding: 0.5em;
    }
}

/* 모바일 우선 */
@media (max-width: 768px) {
    header,
    footer {
        font-size: 0.8rem;
    }

    body {
        margin: 0;
        padding: 0.5em;
    }
}
