.banner {
    padding: 20px 0;
    display: flex;
    width: 100%;
}

.mainAside {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.responsiveImage {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.left {
    display: flex;
    flex-direction: column;
    width: 216px;
    padding-top: 28px;
    max-width: 216px;
    gap: 2rem;
}

.middle {
    width: 648px;
    margin: 0 37px;
    padding: 28px 36px 0;
}

.right {
    width: 238px;
    padding-top: 28px;
}

@media (max-width: 1200px) {
    .right {
        display: none;
    }
    .left {
        display: none;
    }
}

@media (max-width: 768px) {
}
