.loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 15px;

    color: #ff6b00;
    border: 1.5px solid #ff6b00;
    background-color: #00000000;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 436px;
    width: 90px;
    height: 40px;
}

.loginButton:hover {
    background-color: #cbcbcb30; /* 진한 주황 */
}
