.loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #fd7e14; /* 주황색 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 436px;
    width: 90px;
    height: 40px;
}

.loginButton:hover {
    background-color: #e06712; /* 진한 주황 */
}
