.spinner-flex {
    display: flex;
}

.spinner {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-left-color: rgb(0, 0, 0);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
