.RecentPostsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.RecentPostsHeader p {
    margin: 0 0 1rem;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 700;
}
