.RecentPostsHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 1rem;
    gap: 5px;
}

.RecentPostsHeader p {
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 700;
    margin: 0px;
}
